/*body*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
body{
    background-image: url('images australie/earth.jpg');
    width: 100%;
    height: auto;
}
h1{
    color: rgb(193, 174, 174);
    text-align: center;
    font-family: 'Sevillana', cursive;
    font-size: 5em;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
h2{
    color: red;
    font-family: 'Sevillana', cursive;
    font-size: 4em;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#drapeau{
    background-image: url('images australie/drapeau.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    height: 200px;
}
#sydney{
padding: 20px;
display: flex;
justify-content: flex-start;

}
.sydneyimg{
    background-image: url('images australie/sydney.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 350px;
}
.sydneytxt{
    background-color: rgba(222, 184, 135, 0.612);
    width: 50%;
    height: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 5%;

}
#bush{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.bushimg{
    background-image: url('images australie/bush.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    
}
.bushtxt{
    background-color: rgba(222, 184, 135, 0.612);
    width: 40%;
    height: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 5%;
}
#côte{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}
.côteimg{
    background-image: url('images australie/plage.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.côtetxt{
    background-color: rgba(222, 184, 135, 0.612);
    width: 90%;
    height: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 5%;
}
#faune{
    padding: 20px;

}


.faunetxt{
    background-color: rgba(222, 184, 135, 0.612);
    width: 90%;
    height:70%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 5%;
    margin: auto;
   
}
/* menu*/
/*------header-----*/
.box {
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 30px;
}

.box .inner {
	width: 200px;
	height: 100px;
	line-height: 100px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}
.box .inner:first-child {
	background-color: rgb(110, 110, 110);
	color: rgb(28, 28, 28);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}
.box .inner:last-child {
	background-color: rgb(33, 33, 33);
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}
.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}
.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}
@keyframes marquee {
	from {
		left: 100%;
	}
	to {
		left: -100%;
	}
}
/*----------------nav----*/ 
.nav{
    width:100%;
    margin: 0 auto;
    background-color: rgb(120, 119, 119);
    position: sticky;
    top: 0px;
    opacity: 0.7;
    margin-top:5%;
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    display: flex;
}

#menu, #menu ul {
  padding:0;
  margin: 0;
  list-style: none;
  text-align: center;


}

#menu li {
  display:inline-block;
  vertical-align: top;
  position: relative;


}
#menu li li {
  display:inherit;
}
#menu a {
  display:block;
  padding:5px 50px;
  text-decoration: none;
  color:#fff;
  font-family:arial;
}
#menu ul li a {
  padding:5px 8px;
}
#menu ul {
  position: absolute;
  z-index: 1000;
  min-width:100%;
  white-space: nowrap;
  text-align: left;

}
#menu ul ul {
  left:100%;
  top:0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  transition: 0.3s all;
}
#menu ul li:hover ul {
  max-width: 30em;
}
#menu ul li {
  max-height:0;
  overflow: hidden;
  transition:all 0.8s;
}
#menu li li li {
  max-height: inherit;
}
#menu li:hover li {
  max-height: 15em;
  overflow: visible;
}


/* background des liens menus */
.violet {
background-color: #65537A;
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
.violet li {
    background:#2A2333
}
.violet li:hover {
    background:#65537A
}
.bleu {
background-color: #729EBF;
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
.bleu li {
    background:#333A40
}
.bleu li:hover {
    background:#729EBF
}
.orange {
background-color: #F6AD1A;
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
.orange li {
    background-color:#9F391A;
}
.orange li:hover {
    background:#F6AD1A
}
.vert{
background-color: #CFFF6A;
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
.vert li {
    background-color:#677F35
}
.vert li:hover {
    background:#CFFF6A
}
#menu li:hover {
    background-image:none;
}
#menu li:hover a, .menu li li:hover a {
    color:#000
}
#menu li:hover li a, #menu li:hover li li a {
    color:#fff
}
#menu li:hover a, #menu li li:hover a, #menu li li li:hover a {
    color:#000
}
/*------------------fin header--------------*/



