/*body*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
.fond_ecran{
    width: 100%;
    height: 780px;
    background-image: url('images/main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/*------header-----*/
.box {
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
}

.box .inner {
	width: 200px;
	height: 100px;
	line-height: 100px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(110, 110, 110);
	color: rgb(28, 28, 28);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(33, 33, 33);
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
/*----------------nav----*/ 
.nav{
    width:100%;
    margin-top:5%;
    display: flex;
    justify-content: center;
}

#menu, #menu ul {
  padding:0;
  margin: 0;
  list-style: none;
  text-align: center;
  

}

#menu li {
  display:inline-block;
  vertical-align: top;
  position: relative;
  
  
}
#menu li li {
  display:inherit;
}
#menu a {
  display:block;
  padding:5px 50px;
  text-decoration: none;
  color:#fff;
  font-family:arial;
}
#menu ul li a {
  padding:5px 8px;
}
#menu ul {
  position: absolute;
  z-index: 1000;
  min-width:100%;
  white-space: nowrap;
  text-align: left;

}
#menu ul ul {
  left:100%;
  top:0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  transition: 0.3s all;
}
#menu ul li:hover ul {
  max-width: 30em;
}
#menu ul li {
  max-height:0;
  overflow: hidden;
  transition:all 0.8s;
}
#menu li li li {
  max-height: inherit;
}
#menu li:hover li {
  max-height: 15em;
  overflow: visible;
}


/* background des liens menus */
.violet {
background-color: #65537A;
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
.violet li {
    background:#2A2333
}
.violet li:hover {
    background:#65537A
}
.bleu {
background-color: #729EBF;
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
.bleu li {
    background:#333A40
}
.bleu li:hover {
    background:#729EBF
}
.orange {
background-color: #F6AD1A;
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
.orange li {
    background-color:#9F391A;
}
.orange li:hover {
    background:#F6AD1A
}
.vert{
background-color: #CFFF6A;
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
.vert li {
    background-color:#677F35
}
.vert li:hover {
    background:#CFFF6A
}
#menu li:hover {
    background-image:none;
}
#menu li:hover a, .menu li li:hover a {
    color:#000
}
#menu li:hover li a, #menu li:hover li li a {
    color:#fff
}
#menu li:hover a, #menu li li:hover a, #menu li li li:hover a {
    color:#000
}
/*------------------fin header--------------*/


/*-------------Section Contact --------*/

.section-contact {
  padding-bottom: 100px;

}
.section-contact h2 {
  text-align: center;
  color: #333;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
  padding: 70px 0 0 0;
}
.container-form {
  margin: 0 auto;
  width: 70%;
}
.form-groupe {
  position: relative;
  margin-bottom: 45px;
}
.form-groupe label {
  color: #aaa;
  font-size: 20px;

}
.form-groupe input {
  display:block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #666;
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  border: none;
  border: 3px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  resize: none; /* ne redimensionne pas la zone de texte par l utilisateur */
  outline: none;
  font-size: 20px;
  background: #f1f1f1;

}
.form-groupe:nth-child(4) {
  margin-bottom: 25px;

}
.form-groupe .button-sub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid rgb(144,144,144);
  border-radius: 9999px;
  background-image: linear-gradient(to right, transparent 50%, rgb(65,65,65) 50%, rgb(134,134,134));
  background-size: 200%;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

}
.form-groupe .button-sub:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}
@media screen and(max-width: 1300px) {
  .section-contact h2 {
      padding: 70px 0 0 0;

  }
  .container-form {
      padding-left:  0;
  }
