/*body*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
.fond_ecran{
    width: 100%;
    height: 455px;
    background-image: url('images/main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.box .inner {
	width: 200px;
	height: 100px;
	line-height: 100px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(110, 110, 110);
	color: rgb(28, 28, 28);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(33, 33, 33);
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
nav{
    width:100%;
    margin: 0 auto;
    background-color: rgb(120, 119, 119);
    position: sticky;
    top: 0px;
    opacity: 0.5;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: darkgray;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px rgb(67, 64, 64);
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    background-color: rgb(105, 96, 96);
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
    
}
/*--------------------page tanzanie-------------------------*/

.accueil_tanzanie {
    width: 100%;
    height: 100vh;
    min-height: 970px;
    background-image: url(images_tanzanie/fond_ecran_tanzanie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px dotted #777;
    padding-top: 1px;

}
.logo-tanzanie {
    border-radius: 50%;
    width: 180px;
    display: block;
    margin: 179px auto 0;
}
.accueil_tanzanie>h1 {
    text-align: center;
    font-size:80px;
    text-shadow: 0 0 10px #000;
    color: #f1f1f1;
    margin-top: 10px;
    font-family: Merienda, sans-serif;
    padding-bottom: 5%;
}
.accueil_tanzanie p {
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 0 10px #000;
    color: #f1f1f1;
    margin-top: 10px;
    font-family: Merienda, sans-serif;
    font-weight: 900;
}
.corps_tanzanie h3{
    width:100%;
    margin: 2% 0 2% 0 ;
    text-align: center;
    font-family: Merienda, sans-serif;
    text-decoration: underline;
}
.corps_tanzanie>p{
    width:100%;
    text-align: center;
    margin-bottom:5%;
    font-family: Merienda, sans-serif;
}
/*-----------------video masssai----------------*/
iframe{
    width:40%;
    margin-left:30%;
    margin-top:5%;
    margin-bottom:5%;
}
/*-------------------card-------*/
section{
    width:80%;
    height:auto;
    display:flex;    
    margin-left: 10%;
    display:inline-block;
    
}
@media screen and (max-width:800px){
    section{
        display:flex;
        flex-direction: column;

    }
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
    
  }
  .container{
    background-color:aquamarine;

  }
.container h4 {
    text-align: center;
    margin: 1% 0 2% 0;
    font-family: Merienda, sans-serif;
    
    
}
.container p{
    font-family: Merienda, sans-serif;
    text-align: justify;
    margin:1% 5% 5% 5%;
}

  
  .card1:hover {
    box-shadow: 10px 5px 15px black;
  }
  
  .container {
    padding: 2px 16px;
  }

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    float: right;
    margin-top:5%;
    
  }