/*body*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
.entête{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    /*align-items: center;*/
}
.entête>img{
    width: 200px;
    height: 120px;
}
h1{
    /*text-align: center;*/
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;
}
.thai{
    color: rgb(255, 0, 0);
}
.bangkok{
    background-image: url('images thailande/palais\ royal.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}
h2{
    color: greenyellow;
    font-family: 'Brush Script MT', cursive;
    font-size: 4em;
    text-align: center;
}
.bkk1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    margin-top: 60px;
    background-color: rgba(181, 177, 177, 0.3) ;

}
.bkk1>img{
    width: 40%;
    height: 30%;
    margin-top: 20px;
    border-radius: 10%;
}
.bkk2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    background-color: rgba(181, 177, 177, 0.3) ;
}
.bkk2>img{
    width: 40%;
    height: 30%;
    margin-top: 60px;
    border-radius: 10%;
}
.sud{
    background-image: url('images thailande/le\ sud.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.title{
    color: red;
    font-weight: bold;
    text-decoration: underline;
    font-style: oblique;
}
p{
    width: 50%;
    height: auto;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    
}

.box {
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.box .inner {
	width: 200px;
	height: 100px;
	line-height: 100px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(110, 110, 110);
	color: rgb(28, 28, 28);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(33, 33, 33);
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
nav{
    width:100%;
    margin: 0 auto;
    background-color: rgb(120, 119, 119);
    position: sticky;
    top: 0px;
    opacity: 0.7;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: darkgray;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px rgb(67, 64, 64);
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    background-color: rgb(105, 96, 96);
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
    
}